<!-- blog section -->
<section id="blog" class="xs-onepage-section">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-md-12 text-center">
                <span class="title-number">05</span>
                <h3 class="section-title no-padding">Recent Blog</h3>
            </div>
            <!-- end section title -->
        </div>
        <div class="row margin-ten no-margin-bottom">
            <!-- blog item -->
            <div class="col-md-4 col-sm-4 wow fadeInUp">
                <div class="blog-post">
                    <div class="blog-post-images"><a href="blog-grid-3columns.html"><img
                                    src="https://placehold.it/800x500" alt=""></a></div>
                    <div class="post-details">
                        <a href="blog-grid-3columns.html" class="post-title">Standard post with picture</a>
                        <span class="post-author">Posted by Michael Freemon | 10 January 2015</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
            </div>
            <!-- end blog item -->
            <!-- blog item -->
            <div class="col-md-4 col-sm-4 wow fadeInUp">
                <div class="blog-post">
                    <div class="blog-post-images"><a href="blog-masonry-3columns.html"><img
                                    src="https://placehold.it/800x500" alt=""></a></div>
                    <div class="post-details">
                        <a href="blog-masonry-3columns.html" class="post-title">Post with featured picture</a>
                        <span class="post-author">Posted by Colin Powell | 02 January 2015</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
            </div>
            <!-- end blog item -->
            <!-- blog item -->
            <div class="col-md-4 col-sm-4 wow fadeInUp">
                <div class="blog-post">
                    <div class="blog-post-images"><a href="blog-right-sidebar.html"><img
                                    src="https://placehold.it/800x500" alt=""></a></div>
                    <div class="post-details">
                        <a href="blog-right-sidebar.html" class="post-title">Standard post with slider</a>
                        <span class="post-author">Posted by Vince Lombardi | 02 January 2015</span>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </div>
            </div>
            <!-- end blog item -->
        </div>
    </div>
</section>
<!-- end blog section -->