<!-- contact us section -->
<section id="contact-us" class="xs-onepage-section">
    <div class="container">
        <div class="row mt-5">
            <!-- section title -->
            <div class="col-md-12 text-center">
                <span class="title-number">06</span>
                <h3 class="section-title no-padding">Get in touch</h3>
            </div>
            <!-- end section title -->
        </div>
        <div class="row margin-ten no-margin-bottom">
            <div class="col-md-9 text-center center-col">
                <div class="col-md-4 col-sm-4 text-center">
                    <i class="icon-phone medium-icon black-text"></i>
                    <h6 class="black-text margin-two no-margin-bottom">123-456-7890</h6>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <i class="icon-map-pin medium-icon black-text"></i>
                    <h6 class="black-text margin-two no-margin-bottom">Victoria, United States</h6>
                </div>
                <div class="col-md-4 col-sm-4 text-center">
                    <i class="icon-envelope medium-icon black-text"></i>
                    <h6 class="black-text margin-two no-margin-bottom">
                        <a class="black-text" href="mailto:no-reply@domain.com">no-reply@domain.com</a>
                    </h6>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- form -->
            <form id="contactusform" action="javascript:void(0)" method="post">
                <div class="col-md-10 col-sm-12 center-col">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="wide-separator-line margin-ten"></div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div id="success"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <input name="name" type="text" placeholder="Your Name"/>
                        <input name="email" type="text" placeholder="Your Email"/>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <textarea name="comment" placeholder="Your Message"></textarea>
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <div class="col-md-6 col-sm-6 no-padding-left"><span class="required">*Please complete all fields correctly</span>
                        </div>
                        <div class="col-md-3 col-sm-6 f-right no-padding-right">
                            <input id="contact-us-button"
                                   name="send message" type="button"
                                   value="send message"
                                   class="btn btn-black no-margin-top f-right no-margin-lr">
                        </div>
                    </div>
                </div>
            </form>
            <!-- end form -->
        </div>
    </div>
</section>
<!-- end contact us section -->