<!-- education section -->
<section id="education" class="xs-onepage-section">
    <div class="container">
        <div class="row margin-ten no-margin-top">
            <!-- section title -->
            <div class="col-md-12 text-center">
                <span class="title-number">03</span>
                <h3 class="section-title no-padding">Education</h3>
            </div>
            <!-- end section title -->
        </div>
        <div class="row">
            <div id="owl-demo-small"
                 class="col-md-12 owl-carousel owl-theme dark-pagination owl-no-pagination dark-pagination-without-next-prev-arrow position-relative no-padding">
                <div class="item">
                    <!-- education item -->
                    <div class="col-md-3 col-sm-6 sm-margin-bottom-ten">
                        <div class="education-box-main text-center">
                            <div class="education-box">
                                <i class="icon-laptop black-text"></i>
                                <span class="year text-large gray-text display-block margin-five">2012  - 2014</span>
                                <span class="university text-uppercase display-block black-text letter-spacing-2 font-weight-600">Boston State University</span>
                                <div class="separator-line bg-black margin-ten"></div>
                            </div>
                            <div class="namerol"><span
                                        class="text-uppercase display-block black-text letter-spacing-2 margin-five no-margin-top">Bachelor of Arts</span>
                                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                <span class="result text-uppercase white-text font-weight-600 letter-spacing-1">Grade A++</span>
                            </div>
                        </div>
                    </div>
                    <!-- end education item -->
                    <!-- education item -->
                    <div class="col-md-3 col-sm-6 sm-margin-bottom-ten">
                        <div class="education-box-main text-center">
                            <div class="education-box">
                                <i class="icon-video black-text"></i>
                                <span class="year text-large gray-text display-block margin-five">2010  - 2012</span>
                                <span class="university text-uppercase display-block black-text letter-spacing-2 font-weight-600">Boston State University</span>
                                <div class="separator-line bg-black margin-ten"></div>
                            </div>
                            <div class="namerol"><span
                                        class="text-uppercase display-block black-text letter-spacing-2 margin-five no-margin-top">Visual Art & Design</span>
                                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                <span class="result text-uppercase white-text font-weight-600 letter-spacing-1">Grade A++</span>
                            </div>
                        </div>
                    </div>
                    <!-- end education item -->
                    <!-- education item -->
                    <div class="col-md-3 col-sm-6 xs-margin-bottom-ten">
                        <div class="education-box-main text-center">
                            <div class="education-box">
                                <i class="icon-camera black-text"></i>
                                <span class="year text-large gray-text display-block margin-five">2008  - 2010</span>
                                <span class="university text-uppercase display-block black-text letter-spacing-2 font-weight-600">Boston State University</span>
                                <div class="separator-line bg-black margin-ten"></div>
                            </div>
                            <div class="namerol"><span
                                        class="text-uppercase display-block black-text letter-spacing-2 margin-five no-margin-top">Degree of Web Design</span>
                                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                <span class="result text-uppercase white-text font-weight-600 letter-spacing-1">Grade A++</span>
                            </div>
                        </div>
                    </div>
                    <!-- end education item -->
                    <!-- education item -->
                    <div class="col-md-3 col-sm-6">
                        <div class="education-box-main text-center">
                            <div class="education-box">
                                <i class="icon-picture black-text"></i>
                                <span class="year text-large gray-text display-block margin-five">2008  - 2006</span>
                                <span class="university text-uppercase display-block black-text letter-spacing-2 font-weight-600">Boston State University</span>
                                <div class="separator-line bg-black margin-ten"></div>
                            </div>
                            <div class="namerol"><span
                                        class="text-uppercase display-block black-text letter-spacing-2 margin-five no-margin-top">Visual Art & Graphics</span>
                                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                <span class="result text-uppercase white-text font-weight-600 letter-spacing-1">Grade A++</span>
                            </div>
                        </div>
                    </div>
                    <!-- end education item -->
                </div>
                <div class="item">
                    <!-- education item -->
                    <div class="col-md-3 col-sm-6 sm-margin-bottom-ten">
                        <div class="education-box-main text-center">
                            <div class="education-box">
                                <i class="icon-laptop black-text"></i>
                                <span class="year text-large gray-text display-block margin-five">2012  - 2014</span>
                                <span class="university text-uppercase display-block black-text letter-spacing-2 font-weight-600">Boston State University</span>
                                <div class="separator-line bg-black margin-ten"></div>
                            </div>
                            <div class="namerol"><span
                                        class="text-uppercase display-block black-text letter-spacing-2 margin-five no-margin-top">Bachelor of Arts</span>
                                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                <span class="result text-uppercase white-text font-weight-600 letter-spacing-1">Grade A++</span>
                            </div>
                        </div>
                    </div>
                    <!-- end education item -->
                    <!-- education item -->
                    <div class="col-md-3 col-sm-6 sm-margin-bottom-ten">
                        <div class="education-box-main text-center">
                            <div class="education-box">
                                <i class="icon-video black-text"></i>
                                <span class="year text-large gray-text display-block margin-five">2010  - 2012</span>
                                <span class="university text-uppercase display-block black-text letter-spacing-2 font-weight-600">Boston State University</span>
                                <div class="separator-line bg-black margin-ten"></div>
                            </div>
                            <div class="namerol"><span
                                        class="text-uppercase display-block black-text letter-spacing-2 margin-five no-margin-top">Visual Art & Design</span>
                                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                <span class="result text-uppercase white-text font-weight-600 letter-spacing-1">Grade A++</span>
                            </div>
                        </div>
                    </div>
                    <!-- end education item -->
                    <!-- education item -->
                    <div class="col-md-3 col-sm-6 xs-margin-bottom-ten">
                        <div class="education-box-main text-center">
                            <div class="education-box">
                                <i class="icon-camera black-text"></i>
                                <span class="year text-large gray-text display-block margin-five">2008  - 2010</span>
                                <span class="university text-uppercase display-block black-text letter-spacing-2 font-weight-600">Boston State University</span>
                                <div class="separator-line bg-black margin-ten"></div>
                            </div>
                            <div class="namerol"><span
                                        class="text-uppercase display-block black-text letter-spacing-2 margin-five no-margin-top">Degree of Web Design</span>
                                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                <span class="result text-uppercase white-text font-weight-600 letter-spacing-1">Grade A++</span>
                            </div>
                        </div>
                    </div>
                    <!-- end education item -->
                    <!-- education item -->
                    <div class="col-md-3 col-sm-6">
                        <div class="education-box-main text-center">
                            <div class="education-box">
                                <i class="icon-picture black-text"></i>
                                <span class="year text-large gray-text display-block margin-five">2008  - 2006</span>
                                <span class="university text-uppercase display-block black-text letter-spacing-2 font-weight-600">Boston State University</span>
                                <div class="separator-line bg-black margin-ten"></div>
                            </div>
                            <div class="namerol"><span
                                        class="text-uppercase display-block black-text letter-spacing-2 margin-five no-margin-top">Visual Art & Graphics</span>
                                <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                <span class="result text-uppercase white-text font-weight-600 letter-spacing-1">Grade A++</span>
                            </div>
                        </div>
                    </div>
                    <!-- end education item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end education section -->