<!-- parallax section -->
<section class="parallax1 parallax-fix full-screen no-padding scroll-to-down" onclick="scrollToDown()" id="slider">
    <div class="overlay-gray"></div>
    <img class="parallax-background-img" src="https://placehold.it/1920x1200" alt=""/>
    <div class="container full-screen position-relative">
        <div class="slider-typography">
            <div class="slider-text-middle-main">
                <div class="slider-text-middle slider-text-middle2 personal-name animated fadeIn">
                    <h1 class="margin-two">My name is Sebastian Buckpesch</h1>
                    <span class="cd-headline letters type text-uppercase">
                        <span class="cd-words-wrapper waiting">
                            <b class="is-visible main-font text-large font-weight-400">I'm a CTO and team lead</b>
                            <b class="main-font text-large font-weight-400">I'm a certified AWS solution architect</b>
                            <b class="main-font text-large font-weight-400">I'm a passionate fullstack developer</b>
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end parallax section -->