<!-- skills section -->
<section id="skills" class="xs-onepage-section">
    <div class="container">
        <div class="row mt-5">
            <!-- section title -->
            <div class="col-md-12 text-center">
                <span class="title-number">03</span>
                <h3 class="section-title no-padding">{{ skills.title }}</h3>
            </div>
            <!-- end section title -->
        </div>
        <div class="row margin-ten no-margin-bottom">
            <!-- features grid -->
            {% for skill in skills.items %}
                <!-- features item -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="row mb-5">
                        <div class="col-2 col-sm-3">
                            <i class="{{ skill.icon }} medium-icon "></i>
                        </div>
                        <div class="col-10 col-sm-9 text-left">
                            <h5 class="margin-five no-margin-top">{{ skill.title }}
                                <div class="gps_ring"
                                     data-toggle="tooltip"
                                     data-placement="top"
                                     title="Show what's inside..."></div>
                            </h5>
                            <p class="width-90">{{ skill.description }}</p>
                        </div>
                    </div>
                </div>
                <!-- end features item -->
            {% endfor %}
        </div>
    </div>
</section>
<!-- end skills section -->