<!-- base.html.twig -->
<!doctype html>
<html class="no-js" lang="en">
{% block head %}
    {% include 'partials/head.html.twig' %}
{% endblock %}
<body>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KLRSS2C"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
{% block header %}
    {% include 'partials/navigation.html.twig' %}
{% endblock %}
{% block main %}{% endblock %}

{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}
</body>
</html>