<!-- base.html.twig -->
<!doctype html>
<html class="no-js" lang="en">
{% block head %}
    {% include 'partials/head.html.twig' %}
{% endblock %}
<body>
{% block header %}
    {% include 'partials/navigation.html.twig' %}
{% endblock %}
{% block main %}{% endblock %}

{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}
</body>
</html>