
{% block head %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <title>Best Of Page</title>
{% endblock %}

{% block body %}
    <input size="15" type="text" id="latbox" name="lat" value="">
    <input size="15" type="text" id="lonbox" name="lon" value="">
    <div class="container">
        <div id= "bestOf" >
                sdasd
        </div>
    </div>
    {{ data.1.title }}
    {% for data in data %}

    {% endfor %}
{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}