{% extends 'base.html.twig' %}

{% block header %}
    {% include 'partials/sections/parallax.html.twig' %}
{% endblock %}

{% block main %}

    <h1>{{ title }}</h1>

    <!-- about us section -->
    <section id="features" class="border-bottom no-padding-bottom xs-onepage-section">
        <div class="container">
            <div class="row">
                <!-- section title -->
                <div class="col-md-12 text-center">
                    <span class="title-number">01</span>
                    <h3 class="section-title no-padding">About Me</h3>
                </div>
                <!-- end section title -->
            </div>
            <div class="row margin-ten no-margin-bottom">
                <div class="col-md-6 col-sm-6 text-center xs-margin-bottom-ten">
                    <img src="https://placehold.it/630x638" alt=""/>
                </div>
                <div class="col-md-6 col-sm-6 sm-margin-bottom-ten">
                    <div class="col-md-12 col-sm-12 no-padding">
                        <p class="text-large">Hello, I'm a UI/UX Designer & Front End Developer from Victoria, Australia. I
                            hold a master degree of Web Design from the World University.</p>
                        <ul class="list-line margin-ten text-med">
                            <li><span class="font-weight-600">Name:</span> Andrew Smith</li>
                            <li><span class="font-weight-600">Email:</span>andrew@gmail.com</li>
                            <li><span class="font-weight-600">Phone:</span> (123) - 456-7890</li>
                            <li><span class="font-weight-600">Date of birth:</span> 23 February 1986</li>
                            <li><span class="font-weight-600">Nationality:</span> United States</li>
                        </ul>
                        <a class="highlight-button-dark btn btn-medium button" href="#">Download Resume</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end about us section -->
    <!-- skills section -->
    <section id="skills" class="xs-onepage-section">
        <div class="container">
            <div class="row">
                <!-- section title -->
                <div class="col-md-12 text-center">
                    <span class="title-number">02</span>
                    <h3 class="section-title no-padding">Skills</h3>
                </div>
                <!-- end section title -->
            </div>
            <div class="row margin-ten no-margin-bottom">
                <!-- features grid -->
                <div class="col-md-4 col-sm-12">
                    <!-- features item -->
                    <div class="features-section col-md-12 col-sm-6 no-padding">
                        <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-desktop medium-icon "></i></div>
                        <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                            <h5 class="margin-five no-margin-top">Photoshop</h5>
                            <p class="width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been.</p>
                        </div>
                    </div>
                    <!-- end features item -->
                    <!-- features item -->
                    <div class="features-section col-md-12 col-sm-6 no-padding no-margin">
                        <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-target medium-icon"></i></div>
                        <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                            <h5 class="margin-five no-margin-top">Dreamweaver </h5>
                            <p class="width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been.</p>
                        </div>
                    </div>
                    <!-- end features item -->
                </div>
                <div class="col-md-4 col-sm-12">
                    <!-- features item -->
                    <div class="features-section col-md-12 col-sm-6 no-padding">
                        <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-trophy medium-icon"></i></div>
                        <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                            <h5 class="margin-five no-margin-top">Illustrator</h5>
                            <p class="width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been.</p>
                        </div>
                    </div>
                    <!-- end features item -->
                    <!-- features item -->
                    <div class="features-section col-md-12 col-sm-6 no-padding no-margin">
                        <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-scissors medium-icon"></i></div>
                        <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                            <h5 class="margin-five no-margin-top">Fireworks</h5>
                            <p class="width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been.</p>
                        </div>
                    </div>
                    <!-- end features item -->
                </div>
                <div class="col-md-4 col-sm-12">
                    <!-- features item -->
                    <div class="features-section col-md-12 col-sm-6 no-padding">
                        <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-hotairballoon medium-icon"></i>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                            <h5 class="margin-five no-margin-top">HTML-5</h5>
                            <p class="width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been.</p>
                        </div>
                    </div>
                    <!-- end features item -->
                    <!-- features item -->
                    <div class="features-section col-md-12 col-sm-6 no-padding no-margin">
                        <div class="col-md-3 col-sm-2 col-xs-2 no-padding"><i class="icon-tools medium-icon"></i></div>
                        <div class="col-md-9 col-sm-9 col-xs-9 no-padding text-left f-right">
                            <h5 class="margin-five no-margin-top">CSS-3</h5>
                            <p class="width-90">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been.</p>
                        </div>
                    </div>
                    <!-- end features item -->
                </div>
            </div>
        </div>
    </section>
    <!-- end skills section -->
    <!-- pie charts section -->
    <section class="fix-background" style="background-image:url('https://placehold.it/1920x1100');">
        <div class="opacity-medium bg-black"></div>
        <div class="container position-relative">
            <div class="row">
                <div class="text-center center-col">
                    <!-- pie charts -->
                    <div class="col-md-3 col-sm-3 wow bounceIn xs-margin-bottom-ten">
                        <div class="chart-percent"><span class="chart white-text" data-percent="75"><span
                                        class="percent"></span> </span></div>
                        <div class="chart-text">
                            <h5 class="white-text">Graphic Design</h5>
                            <p>Expert, 7 years</p>
                        </div>
                    </div>
                    <!-- end pie charts -->
                    <!-- pie charts -->
                    <div class="col-md-3 col-sm-3 wow bounceIn xs-margin-bottom-ten">
                        <div class="chart-percent"><span class="chart white-text" data-percent="88"><span
                                        class="percent"></span></span></div>
                        <div class="chart-text">
                            <h5 class="white-text">Web Design</h5>
                            <p>Expert, 9 years</p>
                        </div>
                    </div>
                    <!-- end pie charts -->
                    <!-- pie charts -->
                    <div class="col-md-3 col-sm-3 wow bounceIn xs-margin-bottom-ten">
                        <div class="chart-percent"><span class="chart white-text" data-percent="90"><span
                                        class="percent"></span> </span></div>
                        <div class="chart-text">
                            <h5 class="white-text">Branding</h5>
                            <p>Expert, 5 years</p>
                        </div>
                    </div>
                    <!-- end pie charts -->
                    <!-- pie charts -->
                    <div class="col-md-3 col-sm-3 wow bounceIn">
                        <div class="chart-percent"><span class="chart white-text" data-percent="96"><span
                                        class="percent"></span> </span></div>
                        <div class="chart-text">
                            <h5 class="white-text">Photography</h5>
                            <p>Expert, 4 years</p>
                        </div>
                    </div>
                    <!-- end pie charts -->
                </div>
            </div>
        </div>
    </section>
    <!-- end pie charts section -->
    <!-- education section -->
    <section id="education" class="xs-onepage-section">
        <div class="container">
            <div class="row margin-ten no-margin-top">
                <!-- section title -->
                <div class="col-md-12 text-center">
                    <span class="title-number">03</span>
                    <h3 class="section-title no-padding">Education</h3>
                </div>
                <!-- end section title -->
            </div>
            <div class="row">
                <div id="owl-demo-small"
                     class="col-md-12 owl-carousel owl-theme dark-pagination owl-no-pagination dark-pagination-without-next-prev-arrow position-relative no-padding">
                    <div class="item">
                        <!-- education item -->
                        <div class="col-md-3 col-sm-6 sm-margin-bottom-ten">
                            <div class="education-box-main text-center">
                                <div class="education-box">
                                    <i class="icon-laptop black-text"></i>
                                    <span class="year text-large gray-text display-block margin-five">2012  - 2014</span>
                                    <span class="university text-uppercase display-block black-text letter-spacing-2 font-weight-600">Boston State University</span>
                                    <div class="separator-line bg-black margin-ten"></div>
                                </div>
                                <div class="namerol"><span
                                            class="text-uppercase display-block black-text letter-spacing-2 margin-five no-margin-top">Bachelor of Arts</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                    <span class="result text-uppercase white-text font-weight-600 letter-spacing-1">Grade A++</span>
                                </div>
                            </div>
                        </div>
                        <!-- end education item -->
                        <!-- education item -->
                        <div class="col-md-3 col-sm-6 sm-margin-bottom-ten">
                            <div class="education-box-main text-center">
                                <div class="education-box">
                                    <i class="icon-video black-text"></i>
                                    <span class="year text-large gray-text display-block margin-five">2010  - 2012</span>
                                    <span class="university text-uppercase display-block black-text letter-spacing-2 font-weight-600">Boston State University</span>
                                    <div class="separator-line bg-black margin-ten"></div>
                                </div>
                                <div class="namerol"><span
                                            class="text-uppercase display-block black-text letter-spacing-2 margin-five no-margin-top">Visual Art & Design</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                    <span class="result text-uppercase white-text font-weight-600 letter-spacing-1">Grade A++</span>
                                </div>
                            </div>
                        </div>
                        <!-- end education item -->
                        <!-- education item -->
                        <div class="col-md-3 col-sm-6 xs-margin-bottom-ten">
                            <div class="education-box-main text-center">
                                <div class="education-box">
                                    <i class="icon-camera black-text"></i>
                                    <span class="year text-large gray-text display-block margin-five">2008  - 2010</span>
                                    <span class="university text-uppercase display-block black-text letter-spacing-2 font-weight-600">Boston State University</span>
                                    <div class="separator-line bg-black margin-ten"></div>
                                </div>
                                <div class="namerol"><span
                                            class="text-uppercase display-block black-text letter-spacing-2 margin-five no-margin-top">Degree of Web Design</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                    <span class="result text-uppercase white-text font-weight-600 letter-spacing-1">Grade A++</span>
                                </div>
                            </div>
                        </div>
                        <!-- end education item -->
                        <!-- education item -->
                        <div class="col-md-3 col-sm-6">
                            <div class="education-box-main text-center">
                                <div class="education-box">
                                    <i class="icon-picture black-text"></i>
                                    <span class="year text-large gray-text display-block margin-five">2008  - 2006</span>
                                    <span class="university text-uppercase display-block black-text letter-spacing-2 font-weight-600">Boston State University</span>
                                    <div class="separator-line bg-black margin-ten"></div>
                                </div>
                                <div class="namerol"><span
                                            class="text-uppercase display-block black-text letter-spacing-2 margin-five no-margin-top">Visual Art & Graphics</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                    <span class="result text-uppercase white-text font-weight-600 letter-spacing-1">Grade A++</span>
                                </div>
                            </div>
                        </div>
                        <!-- end education item -->
                    </div>
                    <div class="item">
                        <!-- education item -->
                        <div class="col-md-3 col-sm-6 sm-margin-bottom-ten">
                            <div class="education-box-main text-center">
                                <div class="education-box">
                                    <i class="icon-laptop black-text"></i>
                                    <span class="year text-large gray-text display-block margin-five">2012  - 2014</span>
                                    <span class="university text-uppercase display-block black-text letter-spacing-2 font-weight-600">Boston State University</span>
                                    <div class="separator-line bg-black margin-ten"></div>
                                </div>
                                <div class="namerol"><span
                                            class="text-uppercase display-block black-text letter-spacing-2 margin-five no-margin-top">Bachelor of Arts</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                    <span class="result text-uppercase white-text font-weight-600 letter-spacing-1">Grade A++</span>
                                </div>
                            </div>
                        </div>
                        <!-- end education item -->
                        <!-- education item -->
                        <div class="col-md-3 col-sm-6 sm-margin-bottom-ten">
                            <div class="education-box-main text-center">
                                <div class="education-box">
                                    <i class="icon-video black-text"></i>
                                    <span class="year text-large gray-text display-block margin-five">2010  - 2012</span>
                                    <span class="university text-uppercase display-block black-text letter-spacing-2 font-weight-600">Boston State University</span>
                                    <div class="separator-line bg-black margin-ten"></div>
                                </div>
                                <div class="namerol"><span
                                            class="text-uppercase display-block black-text letter-spacing-2 margin-five no-margin-top">Visual Art & Design</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                    <span class="result text-uppercase white-text font-weight-600 letter-spacing-1">Grade A++</span>
                                </div>
                            </div>
                        </div>
                        <!-- end education item -->
                        <!-- education item -->
                        <div class="col-md-3 col-sm-6 xs-margin-bottom-ten">
                            <div class="education-box-main text-center">
                                <div class="education-box">
                                    <i class="icon-camera black-text"></i>
                                    <span class="year text-large gray-text display-block margin-five">2008  - 2010</span>
                                    <span class="university text-uppercase display-block black-text letter-spacing-2 font-weight-600">Boston State University</span>
                                    <div class="separator-line bg-black margin-ten"></div>
                                </div>
                                <div class="namerol"><span
                                            class="text-uppercase display-block black-text letter-spacing-2 margin-five no-margin-top">Degree of Web Design</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                    <span class="result text-uppercase white-text font-weight-600 letter-spacing-1">Grade A++</span>
                                </div>
                            </div>
                        </div>
                        <!-- end education item -->
                        <!-- education item -->
                        <div class="col-md-3 col-sm-6">
                            <div class="education-box-main text-center">
                                <div class="education-box">
                                    <i class="icon-picture black-text"></i>
                                    <span class="year text-large gray-text display-block margin-five">2008  - 2006</span>
                                    <span class="university text-uppercase display-block black-text letter-spacing-2 font-weight-600">Boston State University</span>
                                    <div class="separator-line bg-black margin-ten"></div>
                                </div>
                                <div class="namerol"><span
                                            class="text-uppercase display-block black-text letter-spacing-2 margin-five no-margin-top">Visual Art & Graphics</span>
                                    <p>Lorem Ipsum is simply dummy text of the printing.</p>
                                    <span class="result text-uppercase white-text font-weight-600 letter-spacing-1">Grade A++</span>
                                </div>
                            </div>
                        </div>
                        <!-- end education item -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end education section -->
    <!-- awards section -->
    <section class="fix-background" style="background-image:url('https://placehold.it/1920x1100');">
        <div class="overlay-gray"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-10 text-center center-col">
                    <p class="title-small black-text">Awards can give you a tremendous amount of encouragement to keep
                        getting better, no matter how young or old you are.</p>
                </div>
            </div>
            <div class="row margin-five no-margin-bottom">
                <div class="col-md-10 col-sm-12 text-center center-col">
                    <!-- awards item -->
                    <div class="col-md-4 col-sm-4 xs-margin-bottom-ten">
                        <div class="award-box clearfix">
                            <div class="col-md-4 col-sm-12">
                                <i class="icon-trophy black-text"></i>
                            </div>
                            <div class="col-md-8 col-sm-12 text-left text-uppercase black-text letter-spacing-1 sm-text-center sm-margin-top-five">
                                International Design Awards
                            </div>
                        </div>
                    </div>
                    <!-- end awards item -->
                    <!-- awards item -->
                    <div class="col-md-4 col-sm-4 xs-margin-bottom-ten">
                        <div class="award-box clearfix">
                            <div class="col-md-4 col-sm-12">
                                <i class="icon-circle-compass black-text"></i>
                            </div>
                            <div class="col-md-8 col-sm-12 text-left text-uppercase black-text letter-spacing-1 sm-text-center sm-margin-top-five">
                                Asian Design Fest 2014
                            </div>
                        </div>
                    </div>
                    <!-- end awards item -->
                    <!-- awards item -->
                    <div class="col-md-4 col-sm-4">
                        <div class="award-box clearfix">
                            <div class="col-md-4 col-sm-12">
                                <i class="icon-camera black-text"></i>
                            </div>
                            <div class="col-md-8 col-sm-12 text-left text-uppercase black-text letter-spacing-1 sm-text-center sm-margin-top-five">
                                European Design Awards
                            </div>
                        </div>
                    </div>
                    <!-- end awards item -->
                </div>
            </div>
        </div>
    </section>
    <!-- end awards section -->
{% endblock %}