<?php
$i_id = getGlobal("appId");
$am = getGlobal("app_manager");
$device = $am->getDeviceType();
?>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="footer">
                <?php
                if (in_array($device, array("desktop", "tablet"))) {
                    __pc('app_footer_content_desktop');
                } else {
                    __pc('app_footer_content_mobile');
                }
                ?>
            </div>
        </div>
    </div>
</div>

<!-- Show Advertising -->
<?php
echo $this->render("ads/footer");
?>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <?php
                $terms_and_conditions_link = "<a href='" . url_link('terms') . "'>" . __t("terms_and_conditions") . "</a>";
                __p("_terms_footer_notice", $terms_and_conditions_link);
                ?>
            </div>
        </div>
        <?php
        if (__c('app_footer_branding_activated')) :
            ?>
        <div class="row">
            <div class="col-sm-12">
                <div id="branding" class="branding">
                    <?php __pc('app_footer_branding_content'); ?>
                </div>
            </div>
        </div>
        <?php
        endif;
        ?>
    </div>
</footer>

<?php
if (__c('app_tracking_ganalytics_activated')) {
    ?>
<!-- Google Analytics tracking code -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '<?php echo __c('app_tracking_ganalytics_id'); ?>', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('set', {
        'i_id': '<?php echo $i_id; ?>'
    });
    ga('send', 'pageview');
</script>
<?php } ?>

<?php
if (__c('app_tracking_fb_activated')) {
    ?>
<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq)return;
        n = f.fbq = function () {
            n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq)f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = '2.0';
        n.queue = [];
        t = b.createElement(e);
        t.async = !0;
        t.src   = v;
        s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window,
        document, 'script', '//connect.facebook.net/en_US/fbevents.js');

    fbq('init', '<?php echo __c('app_tracking_fb_id'); ?>');
    fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=<?php echo __c('app_tracking_fb_id'); ?>&ev=PageView&noscript=1"
    /></noscript>
<!-- End Facebook Pixel Code -->
<?php } ?>

<!-- facebook init -->
<script>

    window.fbAsyncInit = function () {

        // Get the FB App ID from a config value, when available
        var fb_app_id = _.aa.instance.fb_app_id;
        if (_.c('app_fb_app_id') && _.c('app_fb_app_id').length > 6) {
            fb_app_id = _.c('app_fb_app_id');
        }
        FB.init({
            appId: fb_app_id,
            xfbml: true,
            version: 'v2.3'
        });

        FB.Canvas.setAutoGrow();
        var body = $('body');
        if (body.hasClass('terms') || body.hasClass('thankyou_upload') || body.hasClass('upload')
            || body.hasClass('thankyou_vote') || body.hasClass('privacy')|| body.hasClass('item-main') ) {
            // Scroll to top if we are in the facebook page tab
            FB.Canvas.getPageInfo(function(response) {
                scrollToFbPos(0);
            });
        }
        // Additional initialization code such as adding Event Listeners goes here
        FB.Event.subscribe('edge.create', function (response) {
            AAFangate.hideFangate({ 'set_cookie': true });
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/" + _.aa.instance.lang_tag + "/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<script>
    //set js variable
    if (!aa.config) aa.config = {};
    if (!aa.inst) aa.inst = {};
    aa.inst.i_id = <?php echo $this->global->i_id; ?>;

    <?php
    if (in_array("facebook", __c('mod_auth_methods'))) {
        echo $this->render("login/facebook/overview.js");
    }
    ?>

    $(document).ready(function () {
        <?php
        // Check the message queue for entries and print them
        $messages = message_queue_getJs();
        foreach ($messages as $message) {
            echo $message;
        }
        ?>

        // Add usability improvements for forms
        $('.form-group, #search').click(function(){
            $(this).find('input').focus();
        });
    });

    /* JS Vote Object */
    var vote_remain_times = <?php echo $this->_module->overview_remain_vote_times(); ?>;
    var vote_status = '';
    var user = {
        'votes_remaining': vote_remain_times,
        'isLoggedIn':      0
    };
    <?php
    if (is_login()) { ?>
    user.isLoggedIn = 1;
    <?php
    }
    if (is_admin()) { ?>
    user.is_admin = 1;
    <?php
    }
    echo $this->render("item/vote/AbstractVote.js");
    echo $this->render("item/vote/".$this->_module->getVoteType()."/main.js");
    ?>
    var oVote = new Vote();
    oVote.init({'user': user});
</script>

<?php __pc('app_footer_libs'); ?>
