<?php
$i_id = getGlobal("appId");
$am = getGlobal("app_manager");
$smart_link_url = $am->getUrl();

// Is the upload activated for this user at the moment?
$can_upload = true;
$response = $this->_module->upload_can_upload();
if ($response['error'] == 1)
{
$can_upload = false;
}
// Get activated languages
$locales = __c('app_language_selection');
$cur_locale = $am->getLang();
?>
<div id="header-container" class="header-container">
    <?php
echo $this->render("layout/canvas/nav.top.phtml", array(
    "smart_link_url" => $smart_link_url,
    "cur_locale" => $cur_locale,
    "locales" => $locales,
    "can_upload" => $can_upload
    ));
    ?>
</div>

<!-- Render the donation status bar, if page is overview -->
<?php
echo $this->render("overview/donation_status");
?>

<!-- /.navbar-collapse -->

<!-- /.container-fluid -->

<?php echo $this->render("layout/canvas/slider"); ?>

<script>
    var aa = {};
</script>
