<!-- navigation -->
<nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-border-bottom no-transition"
     role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-6"><a class="logo-light" href="index.html"><img alt=""
                                                                                                 src="images/logo-light.png"
                                                                                                 class="logo"/></a><a
                        class="logo-dark" href="index.html"><img alt="" src="images/logo-light.png" class="logo"/></a>
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                            class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span></button>
            </div>
            <div class="col-md-9 col-sm-10 text-right">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#slider" class="inner-link">Home</a></li>
                        <li><a href="#features" class="inner-link">About</a></li>
                        <li><a href="#skills" class="inner-link">Skills</a></li>
                        <li><a href="#education" class="inner-link">Education</a></li>
                        <li><a href="#portfolio" class="inner-link">Portfolio</a></li>
                        <li><a href="#blog" class="inner-link">Blog</a></li>
                        <li><a href="#contact-us" class="inner-link">Contact</a></li>
                        <li><a href="index.html" class="inner-link">Demos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end of navigation -->