<!-- navigation -->
<nav class="navbar navbar-expand-lg navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-border-bottom no-transition"
     role="navigation">
    <a class="navbar-brand logo-light" href="/">
        Sebastian Buckpesch
    </a>
    <a class="navbar-brand logo-dark" href="/">
        Sebastian Buckpesch
    </a>

    <button type="button" class="navbar-toggler ml-auto" data-toggle="collapse" data-target="#mainNav">
        <i class="icon-layers"></i>
    </button>
    <div id="mainNav" class="navbar-collapse collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="#slider" class="nav-link inner-link">Home</a></li>
            <li class="nav-item"><a href="#features" class="nav-link inner-link">About</a></li>
            <li class="nav-item"><a href="#skills" class="nav-link inner-link">{{ skills.title }}</a></li>
            <li class="nav-item"><a href="#education" class="nav-link inner-link">{{ education.title }}</a></li>
            {#<li class="nav-item"><a href="#portfolio" class="nav-link inner-link">Portfolio</a></li>
            <li class="nav-item"><a href="#blog" class="nav-link inner-link">Blog</a></li>#}
            {#<li class="nav-item"><a href="#contact-us" class="nav-link inner-link">Contact</a></li>#}
        </ul>
    </div>
</nav>
<!-- end of navigation -->